.tabs-title{
	font-size: 16px!important;
}
.tabs-icon{
	width: 0!important;
}
.tabs{
	width: 100%!important;
}
.tabs-inner{
	width: 100%!important;
}
.container{
	width: 90%;
	margin-left: 5%;
}
h1{
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid red;
	text-align: center;
}
p{
	margin: 0px;
	text-indent: 35px;
	font-size: 16px;
	line-height: 30px!important;
}
table{
	width: 100%;
	font-size: 11px;
	text-align: center;
}
td{
	height: 30px;
	width: 13.5%;
	font-size: 10px;
}
h1{
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-size: 18px;
}
th{
	font-size: 10px;
	height: 30px;
}
h5{
	margin:5px;
}
tr td:nth-of-type(1){
	width: 20%;
}